<?xml version='1.0'?>
<launch>
	<!-- Navigator Node -->
	<node pkg="egh450g1_code" type="planner" name="planner" clear_params="true" output="screen">

		<!-- Input to contrail for path tracking -->
		<param name="~contrail" value="/emulated_uav/mavel/contrail" type='string'/>
		<!-- Service to request a safe path from breadcrumb -->
		<remap from="~request_path" to="/breadcrumb/request_path"/>

		<!-- Input to trigger diversion from imagery -->
		<remap from="~imagery_trigger" to="/imagery_trigger" />
		<!-- Input pose from imagery -->
		<remap from="~imagery_pose" to="/imagery_pose" />
		<!-- Pose state input of UAV -->
		<remap from="~pose" to="/emulated_uav/pose" />
	</node>

	<!-- Breadcrumb Node -->
	<node pkg="breadcrumb" type="breadcrumb_node" name="breadcrumb" clear_params="true" output="screen">
		<param name="search_heuristic" value="1" type="int"/>
		<param name="allow_diagonals" value="true" type="bool"/>
		<param name="obstacle_threshold" value="50" type="int"/>

		<!-- Occupancy grid input -->
		<remap from="~grid" to="/grid/real"/>
	</node>
</launch>
